#home-heading {
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 16px;
  color: white;
  background-color: #222222;
}

#home-heading h1 {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 3.5em;
  font-weight: 200;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  #home-heading h1 {
    font-size: 3em;
  }
}

#home-heading h1 img {
  height: 1em;
  vertical-align: middle;
}

#home-heading p {
  margin: 8px;
}

#home-heading p:nth-child(2) {
  color: #888888;
  font-size: 1.3em;
  text-align: center;
}

#home-heading .spacer {
  display: 0;
}

@media only screen and (min-height: 600px) {
  #home-heading .spacer {
    height: calc(50vh - 300px);
  }
}




#media-loader {
  margin: 16px auto;
  width: 456px;
}

#media-loader-buttons {
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  list-style: none;
}

#media-loader-buttons li {
  margin: 0 4px;
  width: 144px;
  height: 50px;
  display: block;
  color: white;
  background-color: #520053;
  border-radius: 12px;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  cursor: pointer;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-tap-highlight-color: transparent;
}

#media-loader-buttons li:hover {
  background-color: #722b72;
}

#media-loader-buttons li:active {
  background-color: #470e47;
}

#home-heading .error {
  font-size: 1.2em;
}

@media only screen and (max-width: 500px) {
  #media-loader {
    width: calc(70vw + 50px);
  }

  #media-loader-buttons li {
    width: calc(33.333% - 8px);
    height: 45px;
    line-height: 45px;
  }
}




#media-controller {
  margin: 8px auto;
  padding: 8px;
  width: 90%;
  height: calc(115px + 8vw);
  background-color: black;
}

#media-name {
  margin-bottom: 10px;
  padding: 8px;
  height: 15px;
  font-size: 1.15em;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#media-controller-buttons {
  display: flex;
  margin: 0;
  padding: 0 7.5%;
  height: calc(45px + 8vw);
  list-style: none;
}

#media-controller-buttons .disabled {
  color: #3f3f3f;
}

#media-controller-buttons li {
  margin: calc(22.5px + 4vw - 0.75em) calc(16.67% - 0.75em);
  width: 1.5em;
  height: 1.5em;
  font-size: 2.5em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5em;
  cursor: pointer;
}

#media-controller-buttons li:hover {
  color: #ccc;
}

#media-controller-buttons li:active {
  color: #888;
}

#media-controller-tools {
  float: bottom;
  margin-top: 8px;
}

#media-controller-tools table {
  width: 100%;
}




#media-loader-url-win {
  width: 300px;
}

#media-loader-url-input {
  width: calc(100% - 16px);
}




#media-loader-browser-win {
  width: calc(50% + 80px);
}

#browser-navi {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

#browser-navi ul {
  float: left;
  padding: 0;
  margin: 0;
}

#browser-navi li {
  float: left;
  padding: 4px;
  margin: 4px 1px;
}

#browser-navi li:hover {
  color: #666;
}

#browser-navi li:active {
  color: #222222;
}

#browser-navi-directory {
  float: left;
  width: calc(100% - 10em);
  padding: 8px;
  border: 1px solid #ccc;
  margin-left: 6px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#browser-panel {
  height: calc(25vw + 120px);
  border: 1px solid #ccc;
  margin-bottom: 16px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.browser-item {
  float: left;
  width: calc(25% - 4px);
  margin: 2px;
  padding-bottom: 6px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#browser-panel .selected {
  color: #222222;
  background-color: #b0d8f5;
  border: 1px solid #57b2f2;
  margin: 1px;
}

#browser-panel .selected img {
  filter: brightness(50%);
}

@media only screen and (max-width: 1290px) {
  .browser-item {
    width: calc(33.333% - 4px);
  }
}

@media only screen and (max-width: 650px) {
  #media-loader-browser-win {
    width: calc(70% + 30px);
  }
  
  #browser-navi-directory {
    width: calc(100% - 100px);
  }

  #browser-panel {
    height: calc(35vh + 90px);
  }

  .browser-item {
    width: calc(50% - 4px);
  }
}

.browser-item img {
  display: block;
  width: 56.25%;
  margin: 0 auto;
}

.browser-item p {
  font-size: 0.75em;
  margin: 0;
  text-align: center;
}

.browser-item .thumbnail {
  width: 100%;
}