html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding-bottom: 50px;
  color: #3f3f3f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}




#navi-bar {
  height: calc(30px + 1em);
  color: white;
  background-color: #520053;
}

#menu-home {
  float: left;
  margin-left: 24px;
}

#navi-bar-menu {
  display: flex;
  float: right;
  margin-top: 0;
  margin-right: 24px;
  padding-top: 15px;
  list-style: none;
}

#menu-home, #navi-bar-menu a {
  padding: 15px;
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#menu-home:hover, #navi-bar-menu a:hover {
  background-color: #722b72;
}




#content {
  margin: 0 auto;
  padding: 8px 0 24px 0;
  width: calc(75% + 40px);
}

#content h2 {
  color: #520053;
}




footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  color: #888888;
  border-top: 1px solid #888888;
}

#footer-left {
  float: left;
}

#footer-right {
  float: right;
}




.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal form
{
  margin: auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
}

.modal table {
  margin-bottom: 16px;
  width: 100%;
}

.modal table input[type="text"],
.modal table input[type="password"]
{
  float: right;
}

.modal input[type="submit"], .modal button {
  display: block;
  margin: auto;
  padding: 8px;
}

.modal .close {
  top: 0;
  right: 0;
  float: right;
}

#loading-screen form {
  width: 200px;
}

#auth-form {
  width: 260px;
}




.error {
  color: red;
}

.disabled {
  pointer-events: none;
}

.no-select {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  
  -webkit-tap-highlight-color: transparent;
}

.close {
  color: #aaaaaa;
  background-color: transparent;
  padding: 4px;
  width: calc(1em + 8px);
  line-height: 1em;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  outline:none;
}

.close:hover, .close:focus {
  color: #000;
}

.loader {
  margin: 0 auto;
  border: 16px solid #e3e3e3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}